@import url('variables.css');

.dropdown-item {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: var(--hover-color);
  color: var(--text-color-h);
}

.custom-button.disable-button-styles {
  background-color: transparent;
  color: inherit;
}

.custom-button:hover {
  color: var(--text-color-h);
}

.disable-button-styles {
  background-color: transparent;
  color: inherit;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: color 0.2s;
}

.dropdown-container {
  animation: slideDown 0.5s;
  border-radius: 5px;
  background-color: var(--navbar-color);
  transform-origin: top;
  position: absolute;
}

@keyframes slideDown {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
