@import url('variables.css');

@media (max-width: 1250px) {
  .container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
  }

  .info,
  .login-register {
    display: grid;
    flex-direction: column;
  }
}

.container {
  display: flex;
  background-color: var(--navbar-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.container ul {
  flex-wrap: wrap;
  list-style: none;
}

.container li {
  cursor: pointer;
  color: var(--text-color-1);
}

.container a {
  text-decoration: none;
  color: inherit;
}

li:hover {
  color: var(--text-color-h);
}

.container img {
  max-width: 50px;
  max-height: 30px;
}

.info,
.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-register {
  padding-right: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.options {
  background-color: transparent;
  border: 0;
}
