@media (max-width: 1250px) {
  .container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .info,
  .login-register {
    display: grid;
    flex-direction: column;
  }
}

.container {
  display: flex;
  background: linear-gradient(to bottom right, #3498db, #51a6e0);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-shadow: white;
  align-items: center;
  font-size: small;
  border-radius: 30px;
}

.container ul {
  flex-wrap: wrap;

  list-style: none;
}

.container button {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

button:hover {
  color: white;
}

.container img {
  max-width: 50px;
  max-height: 30px;
}

.info,
.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-register {
  padding-right: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.options {
  background-color: transparent;
  border: 0;
}
